<hr class="my-3">
<h3>Answers</h3>
<% @answers.each do |a| %>
  <article class="mb-3 d-flex justify-content-between align-items-center">
    <div>
      <small>
        <time datetime="<%= a.formatted_created_at %>">
          <%= a.formatted_created_at %>
        </time>
      </small>
      <p>
        - <%= a.body %>
      </p>
      <div class="d-flex gap-2">
        <%= link_to icon('fa-regular', 'pen-to-square'),
          edit_question_answer_path(@question, a),
          class: 'btn btn-primary btn-sm' %>
        <%= button_to icon('fa-regular', 'trash-can'),
          question_answer_path(@question, a),
          class: 'btn btn-danger btn-sm',
           method: :delete, data: { turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
    <div >
    </div>
  </article>
<% end %>
