<hr class="my-3">
<h3 class="mt-5">Answers</h3>
<% @answers.each do |a| %>
  <article class="mb-3 card">
    <div class="card-body">
      <section class="card-text">
        <small>
          <time datetime="<%= a.formatted_created_at %>">
            <%= a.formatted_created_at %>
          </time>
        </small>
        <p class="mt-2 mb-3">
          <%= a.body %>
        </p>
        <div class="d-flex gap-2">
          <%= link_to icon('fa-regular', 'pen-to-square'),
          edit_question_answer_path(@question, a),
          class: 'btn btn-primary btn-sm' %>
          <%= button_to icon('fa-regular', 'trash-can'),
          question_answer_path(@question, a),
          class: 'btn btn-danger btn-sm',
           method: :delete, data: { turbo_confirm: "Are you sure?" } %>
        </section>
      </div>
    </div>
    <div >
    </div>
  </article>
<% end %>
