<% @questions.each do |q| %>
  <h2><%= q.title %></h2>
  <time datetime="<%= q.formatted_created_at %>">
    <%= q.formatted_created_at %>
  </time>
  <p>
    <%= q.body %>
  </p>
  <%= link_to 'Edit', edit_question_path(q) %>
<% end %>
