<article class="mb-3 card" id="answer-<%= answer.id %>">
  <div class="card-body">
    <section class="card-text">
      <small>
        <time datetime="<%= answer.formatted_created_at %>">
          <%= answer.formatted_created_at %>
        </time>
      </small>
      <div class="mt-2 mb-3">
        <%= sanitize answer.body %>
      </div>
      <div class="d-flex gap-2">
        <%= link_to icon('fa-regular', 'pen-to-square'),
          edit_question_answer_path(question, answer),
          class: 'btn btn-primary btn-sm' %>
        <%= button_to icon('fa-regular', 'trash-can'),
          question_answer_path(question, answer),
          class: 'btn btn-danger btn-sm',
           method: :delete, data: { turbo_confirm: "Are you sure?" } %>
      </section>
    </div>
  </div>
  <div >
  </div>
</article>
